In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
df =pd.DataFrame( {
    "Name": [
        "Aman", "Riya", "Karan", "Sneha", "Arjun",
        "Priya", "Rahul", "Anjali", "Vikram", "Pooja",
        "Siddharth", "Neha", "Rohan", "Ishita", "Aditya",
        "Kavya", "Harsh", "Meera", "Nikhil", "Divya",
        "Akash", "Tanvi", "Varun", "Shreya", "Kunal",
        "Aditi", "Rajesh", "Simran", "Manish", "Nisha",
        "Gaurav", "Ritika", "Mohit", "Sakshi", "Deepak",
        "Ananya", "Vishal", "Priyanka", "Amit", "Swati",
        "Karthik", "Megha", "Naveen", "Tanya", "Suresh",
        "Puja", "Ashish", "Kritika", "Sandeep", "Pallavi"
    ],
    "Gender": [
        "Male", "Female", "Male", "Female", "Male",
        "Female", "Male", "Female", "Male", "Female",
        "Male", "Female", "Male", "Female", "Male",
        "Female", "Male", "Female", "Male", "Female",
        "Male", "Female", "Male", "Female", "Male",
        "Female", "Male", "Female", "Male", "Female",
        "Male", "Female", "Male", "Female", "Male",
        "Female", "Male", "Female", "Male", "Female",
        "Male", "Female", "Male", "Female", "Male",
        "Female", "Male", "Female", "Male", "Female"
    ],
    "Department": [
        "HR", "IT", "Finance", "IT", "HR",
        "Marketing", "IT", "Finance", "Sales", "HR",
        "IT", "Marketing", "Finance", "IT", "Sales",
        "HR", "Operations", "IT", "Finance", "Marketing",
        "Sales", "IT", "HR", "Finance", "Operations",
        "Marketing", "IT", "Sales", "Finance", "HR",
        "IT", "Marketing", "Operations", "Finance", "IT",
        "HR", "Sales", "IT", "Finance", "Marketing",
        "IT", "HR", "Sales", "Finance", "Operations",
        "Marketing", "IT", "HR", "Finance", "Sales"
    ],
    "Education_Level": [
        "High School", "Bachelor", "Master", "PhD", "Bachelor",
        "Master", "Bachelor", "Master", "High School", "Bachelor",
        "Master", "Bachelor", "Master", "PhD", "Bachelor",
        "Master", "Bachelor", "Master", "Bachelor", "PhD",
        "High School", "Bachelor", "Master", "Bachelor", "Master",
        "Bachelor", "Master", "Bachelor", "PhD", "Master",
        "Bachelor", "Master", "Bachelor", "Master", "Bachelor",
        "PhD", "Bachelor", "Master", "Bachelor", "Master",
        "Bachelor", "Master", "Bachelor", "Master", "High School",
        "Bachelor", "Master", "Bachelor", "PhD", "Master"
    ],
    "Age": [
        28, 26, 32, 35, 29,
        31, 27, 34, 25, 30,
        33, 28, 36, 38, 27,
        32, 29, 35, 31, 40,
        24, 28, 34, 26, 33,
        29, 37, 27, 35, 31,
        30, 32, 28, 34, 29,
        39, 26, 33, 31, 30,
        32, 28, 29, 34, 42,
        27, 31, 26, 38, 33
    ],
    "Years_Experience": [
        5, 4, 10, 12, 6,
        8, 5, 11, 3, 7,
        10, 6, 13, 15, 5,
        9, 7, 12, 8, 16,
        2, 6, 11, 4, 10,
        7, 14, 5, 12, 8,
        8, 9, 6, 11, 7,
        15, 4, 10, 8, 8,
        9, 6, 7, 11, 18,
        5, 9, 4, 14, 10
    ],
    "Salary": [
        45000, 55000, 75000, 95000, 50000,
        70000, 52000, 80000, 42000, 60000,
        78000, 58000, 85000, 100000, 51000,
        72000, 62000, 83000, 68000, 105000,
        38000, 56000, 76000, 48000, 74000,
        65000, 90000, 54000, 82000, 69000,
        67000, 71000, 59000, 79000, 63000,
        98000, 49000, 77000, 66000, 64000,
        73000, 61000, 64000, 81000, 110000,
        53000, 70000, 50000, 96000, 75000
    ],
    "Performance_Rating": [
        4.2, 4.5, 3.8, 4.7, 4.0,
        4.3, 4.1, 4.6, 3.5, 4.4,
        4.5, 4.2, 3.9, 4.8, 4.0,
        4.4, 4.1, 4.6, 4.3, 4.9,
        3.6, 4.2, 4.5, 3.9, 4.4,
        4.3, 4.7, 4.0, 4.6, 4.2,
        4.1, 4.4, 4.0, 4.5, 4.2,
        4.8, 3.8, 4.5, 4.3, 4.1,
        4.4, 4.2, 4.1, 4.6, 4.9,
        4.0, 4.3, 3.9, 4.7, 4.5
    ],
    "City": [
        "Mumbai", "Delhi", "Bangalore", "Pune", "Mumbai",
        "Delhi", "Bangalore", "Hyderabad", "Mumbai", "Chennai",
        "Pune", "Delhi", "Bangalore", "Mumbai", "Hyderabad",
        "Chennai", "Pune", "Delhi", "Bangalore", "Mumbai",
        "Kolkata", "Pune", "Delhi", "Bangalore", "Mumbai",
        "Hyderabad", "Chennai", "Pune", "Delhi", "Bangalore",
        "Mumbai", "Hyderabad", "Pune", "Chennai", "Delhi",
        "Bangalore", "Mumbai", "Pune", "Hyderabad", "Delhi",
        "Bangalore", "Chennai", "Mumbai", "Pune", "Delhi",
        "Hyderabad", "Bangalore", "Mumbai", "Chennai", "Pune"
    ]
}
)
df.head()

,Name,Gender,Department,Education_Level,Age,Years_Experience,Salary,Performance_Rating,City
0,Aman,Male,HR,High School,28,5,45000,4.2,Mumbai
1,Riya,Female,IT,Bachelor,26,4,55000,4.5,Delhi
2,Karan,Male,Finance,Master,32,10,75000,3.8,Bangalore
3,Sneha,Female,IT,PhD,35,12,95000,4.7,Pune
4,Arjun,Male,HR,Bachelor,29,6,50000,4.0,Mumbai

In [9]:
from sklearn.preprocessing import Normalizer

norm =Normalizer()
data=norm.fit_transform(df[['Salary','Age']])
df1=pd.DataFrame(data,columns=['Salary','Age'])
df1.head()

   Salary       Age
0     1.0  0.000622
1     1.0  0.000473
2     1.0  0.000427
3     1.0  0.000368
4     1.0  0.000580

In [11]:
from sklearn.preprocessing import StandardScaler

norm =Normalizer()
data=norm.fit_transform(df[['Salary','Age']])
df2=pd.DataFrame(data,columns=['Salary','Age'])
df2

    Salary       Age
0      1.0  0.000622
1      1.0  0.000473
2      1.0  0.000427
3      1.0  0.000368
4      1.0  0.000580
5      1.0  0.000443
6      1.0  0.000519
7      1.0  0.000425
8      1.0  0.000595
9      1.0  0.000500
10     1.0  0.000423
11     1.0  0.000483
12     1.0  0.000424
13     1.0  0.000380
14     1.0  0.000529
15     1.0  0.000444
16     1.0  0.000468
17     1.0  0.000422
18     1.0  0.000456
19     1.0  0.000381
20     1.0  0.000632
21     1.0  0.000500
22     1.0  0.000447
23     1.0  0.000542
24     1.0  0.000446
25     1.0  0.000446
26     1.0  0.000411
27     1.0  0.000500
28     1.0  0.000427
29     1.0  0.000449
30     1.0  0.000448
31     1.0  0.000451
32     1.0  0.000475
33     1.0  0.000430
34     1.0  0.000460
35     1.0  0.000398
36     1.0  0.000531
37     1.0  0.000429
38     1.0  0.000470
39     1.0  0.000469
40     1.0  0.000438
41     1.0  0.000459
42     1.0  0.000453
43     1.0  0.000420
44     1.0  0.000382
45     1.0  0.000509
46     1.0  0.000443
47     1.0  0.000520
48     1.0  0.000396
49     1.0  0.000440