In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#Syntax
x=pd.Series([1,2,3,4])
s=pd.Series([1,2,3,4], name='numbers',index = ['a','b','c','d'])
x
s
xs=x=pd.Series((1,2,3,4,5.5))
xs
a=np.array([1,2,3,4])
s=np.array(['a','b','c','d'])

In [ ]:
from contextlib import AsyncContextDecorator
#Dataframe

d={'name':['Aayu','Moi','Toi'],
   'age':[21,22,20],
   'gender':['M','F','M'],
   'marks':[90,85,99]}
df=pd.DataFrame(d)#anything after value is considered index
#functions

#df.info()
#df.describe()
#df.columns

#df.head()
#df.tail() last 5 values

#df.unique() #works on categorical column
#df['gender'].unique() #only works in a single column at once

#df['gender'].value_counts()

#df.sort_values(by='marks',ascending=False)# by is mandate
#sorted_marks=df.sort_values(by='marks',ascending=False)
#sorted_marks.reset_index(inplace=True) #use only in dataframe and inplace is save in orginal data

#orted_marks.drop('index', axis=1)

   index  name  age gender  marks
0      2   Toi   20      M     99
1      0  Aayu   21      M     90
2      1   Moi   22      F     85

In [ ]:
d={'name':['Aayu','Moi','Toi','Toji','Yuji'],
   'age':[21,22,20,25,24],
   'gender':['M','F','M','F','M'],
   'marks':[90,85,99,88,78]}
df=pd.DataFrame(d)
df['age'][::-1]

4    24
3    25
2    20
1    22
0    21
Name: age, dtype: int64

In [ ]:
#loc
#df.loc(row,cols)

#df.loc[(0,1),['name','marks']] #row  slice end index in inclusive

#iloc
df.iloc[0:2,0:3]

   name  age gender
0  Aayu   21      M
1   Moi   22      F

In [ ]:
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age

s1 = Student("Aayush", 21)

print(s1.__dict__)

{'name': 'Aayush', 'age': 21}

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/Taj1920/Data-Analysis-Datasets/refs/heads/main/Datasets-Practice/titanic.csv")
df

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,1
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,1
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,0
...,...,...,...,...,...,...,...,...,...,...,...
1304,3,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,0
1305,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,0
1306,3,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,0
1307,3,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,0
1308,3,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,0

In [ ]:
#boolean filtering

#df[df['sex']=='female']
#df[(df['sex']=='female') & (df['age']==20)]
#df[((df['sex']=='female') & (df['age']==20)) | (df['fare']>500)]

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
49,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C,1
50,1,"Cardeza, Mrs. James Warburton Martinez (Charlo...",female,58.0,0,1,PC 17755,512.3292,B51 B53 B55,C,1
183,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C,1
302,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C,1
353,2,"Bryhl, Miss. Dagmar Jenny Ingeborg",female,20.0,1,0,236853,26.0000,NaN,S,1
446,2,"Hocking, Miss. Ellen ""Nellie""",female,20.0,2,1,29105,23.0000,NaN,S,1
559,2,"Sincock, Miss. Maude",female,20.0,0,0,C.A. 33112,36.7500,NaN,S,1
687,3,"Braf, Miss. Elin Ester Maria",female,20.0,0,0,347471,7.8542,NaN,S,0
907,3,"Jussila, Miss. Katriina",female,20.0,1,0,4136,9.8250,NaN,S,0
1091,3,"Oreskovic, Miss. Marija",female,20.0,0,0,315096,8.6625,NaN,S,0

In [ ]:
#grouping

#df['sex'].unique()
#female=df.groupby('sex').get_group('female')

#df.groupby('embarked').get_group('C')

#fare=df[df['fare']>400]
#fare.groupby('sex').get_group('female')

#fare['name'].str.upper()
#df['fare'].sum()

#female_who=df.groupby('survived').get_group(1).groupby('sex').get_group('female')

#female_who[female_who['age']<18]

df.groupby(['sex','survived']).get_group(('female',0)).count()

pclass      127
name        127
sex         127
age          96
sibsp       127
parch       127
ticket      127
fare        127
cabin         8
embarked    127
survived    127
dtype: int64

In [ ]:
#drop rows or column
#sort
#reset
#applying ginbilt func

#handling missing value
#we can drop entire row where null/nan value is present
df.dropna()

#fill nan for integer or float data type - 0,mean,nan
#df['cabin']=df['cabin'].fillna('unknown').unique()
df['cabin']=df['cabin'].fillna('unknown') # to save and run

#filling with backward fill / forward fill
df['age'].fillna(method='ffill').count()
df['age'].fillna(method='bfill').count()

merged=pd.concat((df,df2),axis=1)


#duplicates
df.duplicated().value_counts()
df.drop_duplicates(inplace=True)


#conversion of a columns data type into another datatype
df['age'].astype(int)