In [1]:
import pandas as pd

In [19]:
data=pd.read_csv("Measurement_info.csv")
item=pd.read_csv("Measurement_item_info.csv")
station=pd.read_csv("Measurement_station_info.csv")

In [20]:
data.head()

   Measurement date  Station code  Item code  Average value  Instrument status
0  2017-01-01 00:00           101          1          0.004                  0
1  2017-01-01 00:00           101          3          0.059                  0
2  2017-01-01 00:00           101          5          1.200                  0
3  2017-01-01 00:00           101          6          0.002                  0
4  2017-01-01 00:00           101          8         73.000                  0

In [21]:
item.head()

,Item code,Item name,Unit of measurement,Good(Blue),Normal(Green),Bad(Yellow),Very bad(Red)
0,1,SO2,ppm,0.02,0.05,0.15,1.0
1,3,NO2,ppm,0.03,0.06,0.20,2.0
2,5,CO,ppm,2.00,9.00,15.00,50.0
3,6,O3,ppm,0.03,0.09,0.15,0.5
4,8,PM10,Mircrogram/m3,30.00,80.00,150.00,600.0

In [22]:
station.head()

,Station code,Station name(district),Address,Latitude,Longitude
0,101,Jongno-gu,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008
1,102,Jung-gu,"15, Deoksugung-gil, Jung-gu, Seoul, Republic o...",37.564263,126.974676
2,103,Yongsan-gu,"136, Hannam-daero, Yongsan-gu, Seoul, Republic...",37.540033,127.004850
3,104,Eunpyeong-gu,"215, Jinheung-ro, Eunpyeong-gu, Seoul, Republi...",37.609823,126.934848
4,105,Seodaemun-gu,"32, Segeomjeong-ro 4-gil, Seodaemun-gu, Seoul,...",37.593742,126.949679

In [23]:
item.columns

Index(['Item code', 'Item name', 'Unit of measurement', 'Good(Blue)',
       'Normal(Green)', 'Bad(Yellow)', 'Very bad(Red)'],
      dtype='object')

In [24]:
sub_item = item[['Item code', 'Item name']]
sub_item

   Item code Item name
0          1       SO2
1          3       NO2
2          5        CO
3          6        O3
4          8      PM10
5          9     PM2.5

In [25]:
sub_station = station[['Station code', 'Station name(district)']]
sub_station

    Station code Station name(district)
0            101              Jongno-gu
1            102                Jung-gu
2            103             Yongsan-gu
3            104           Eunpyeong-gu
4            105           Seodaemun-gu
5            106                Mapo-gu
6            107           Seongdong-gu
7            108            Gwangjin-gu
8            109          Dongdaemun-gu
9            110            Jungnang-gu
10           111            Seongbuk-gu
11           112             Gangbuk-gu
12           113              Dobong-gu
13           114               Nowon-gu
14           115           Yangcheon-gu
15           116             Gangseo-gu
16           117                Guro-gu
17           118           Geumcheon-gu
18           119        Yeongdeungpo-gu
19           120             Dongjak-gu
20           121              Gwanak-gu
21           122              Seocho-gu
22           123             Gangnam-gu
23           124              Songpa-gu
24           125            Gangdong-gu

In [30]:
data_i = data.merge(sub_item, on='Item code', how='left')
data_i.head()

,Measurement date,Station code,Item code,Average value,Instrument status,Item name
0,2017-01-01 00:00,101,1,0.004,0,SO2
1,2017-01-01 00:00,101,3,0.059,0,NO2
2,2017-01-01 00:00,101,5,1.200,0,CO
3,2017-01-01 00:00,101,6,0.002,0,O3
4,2017-01-01 00:00,101,8,73.000,0,PM10

In [32]:
data_s = data.merge(sub_station, on='Station code', how='left')
data_s.head()

,Measurement date,Station code,Item code,Average value,Instrument status,Station name(district)
0,2017-01-01 00:00,101,1,0.004,0,Jongno-gu
1,2017-01-01 00:00,101,3,0.059,0,Jongno-gu
2,2017-01-01 00:00,101,5,1.200,0,Jongno-gu
3,2017-01-01 00:00,101,6,0.002,0,Jongno-gu
4,2017-01-01 00:00,101,8,73.000,0,Jongno-gu

KeyError: "['Item code', 'Station code'] not found in axis"

In [45]:
data=data_s

In [48]:
status_dict ={'Instrument status': [0, 1, 2, 4, 8, 9],
 'Status': ['Normal',
  'Need for calibration',
  'Abnormal',
  'Power cut off',
  'Under repair',
  'Abnormal data']}
dictf=pd.DataFrame(status_dict)
dictf

   Instrument status                Status
0                  0                Normal
1                  1  Need for calibration
2                  2              Abnormal
3                  4         Power cut off
4                  8          Under repair
5                  9         Abnormal data

In [53]:
data=data.merge(dictf,on ='Instrument status',how='left')
data.head()

,Measurement date,Average value,Instrument status,Station name(district),Status
0,2017-01-01 00:00,0.004,0,Jongno-gu,Normal
1,2017-01-01 00:00,0.059,0,Jongno-gu,Normal
2,2017-01-01 00:00,1.200,0,Jongno-gu,Normal
3,2017-01-01 00:00,0.002,0,Jongno-gu,Normal
4,2017-01-01 00:00,73.000,0,Jongno-gu,Normal

In [55]:
data=data.drop('Instrument status',axis=1)

KeyError: "['Instrument status'] not found in axis"

In [56]:
data.head()

   Measurement date  Average value Station name(district)  Status
0  2017-01-01 00:00          0.004              Jongno-gu  Normal
1  2017-01-01 00:00          0.059              Jongno-gu  Normal
2  2017-01-01 00:00          1.200              Jongno-gu  Normal
3  2017-01-01 00:00          0.002              Jongno-gu  Normal
4  2017-01-01 00:00         73.000              Jongno-gu  Normal

In [57]:
data['Measurement date'] = pd.to_datetime(data['Measurement date'])

In [58]:
data['year'] = data['Measurement date'].dt.year
data['month'] = data['Measurement date'].dt.month
data['day'] = data['Measurement date'].dt.day
data['hour'] = data['Measurement date'].dt.hour

In [59]:
data

,Measurement date,Average value,Station name(district),Status,year,month,day,hour
0,2017-01-01 00:00:00,0.004,Jongno-gu,Normal,2017,1,1,0
1,2017-01-01 00:00:00,0.059,Jongno-gu,Normal,2017,1,1,0
2,2017-01-01 00:00:00,1.200,Jongno-gu,Normal,2017,1,1,0
3,2017-01-01 00:00:00,0.002,Jongno-gu,Normal,2017,1,1,0
4,2017-01-01 00:00:00,73.000,Jongno-gu,Normal,2017,1,1,0
...,...,...,...,...,...,...,...,...
3885061,2019-12-31 23:00:00,13.000,Gangnam-gu,Normal,2019,12,31,23
3885062,2019-12-31 23:00:00,24.000,Geumcheon-gu,Normal,2019,12,31,23
3885063,2019-12-31 23:00:00,19.000,Seodaemun-gu,Normal,2019,12,31,23
3885064,2019-12-31 23:00:00,0.037,Gangdong-gu,Normal,2019,12,31,23
3885065,2019-12-31 23:00:00,0.030,Gwangjin-gu,Normal,2019,12,31,23

In [60]:
data.drop('Measurement date', axis=1, inplace=True)

In [61]:
data

         Average value Station name(district)  Status  year  month  day  hour
0                0.004              Jongno-gu  Normal  2017      1    1     0
1                0.059              Jongno-gu  Normal  2017      1    1     0
2                1.200              Jongno-gu  Normal  2017      1    1     0
3                0.002              Jongno-gu  Normal  2017      1    1     0
4               73.000              Jongno-gu  Normal  2017      1    1     0
...                ...                    ...     ...   ...    ...  ...   ...
3885061         13.000             Gangnam-gu  Normal  2019     12   31    23
3885062         24.000           Geumcheon-gu  Normal  2019     12   31    23
3885063         19.000           Seodaemun-gu  Normal  2019     12   31    23
3885064          0.037            Gangdong-gu  Normal  2019     12   31    23
3885065          0.030            Gwangjin-gu  Normal  2019     12   31    23

[3885066 rows x 7 columns]